<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <h2>Users Management</h2>

  <div class="actions">
    <input type="text" id="userSearch" placeholder="Search users..." />
  </div>

  <table border="1" cellpadding="8">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Created At</th>
        <th>Last Login</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.username }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.contact }}</td>
        <td>{{ customer.created_at }}</td>
        <td>{{ customer.last_login }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No customers found.</td></tr>
    {% endfor %}
</table>
<script>
  document.getElementById("userSearch").addEventListener("keyup", function () {
    let filter = this.value.toLowerCase();
    let rows = document.querySelectorAll("table tr:not(:first-child)");

    rows.forEach(row => {
      let text = row.textContent.toLowerCase();
      row.style.display = text.includes(filter) ? "" : "none";
    });
  });
</script>


</body>
</html>