body{
    background-color: whitesmoke;
    font-family: "Times New Roman";
}
.head{
    border: 2px solid black;
    background-color: #a6d5ea;
    margin: 20px;
    padding: 20px;
}
button{
    background-color: lightgreen;
}